@font-face {
    font-family: 'Discordinated';
    src: url('https://github.com/Maddy-OwO/Fonts/DISCORDINATED.woff2') format('woff2'),
        url('https://github.com/Maddy-OwO/Fonts/DISCORDINATED.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}