@font-face {
    font-family: 'Discordinated';
    src: url('https://raw.githubusercontent.com/Maddy-OwO/Fonts/main/DISCORDINATED.woff') format('woff'),
        url('https://raw.githubusercontent.com/Maddy-OwO/Fonts/main/DISCORDINATED.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
